<div class="banner elevation2">
    <div class="container">

        <div class="row">
            <div class="col-sm-4 profile-nav-section">
                <a class="profile-nav" href="#/myreviews">My Reviews</a>
            </div>
            <div class="col-sm-4 profile-nav-section">
                <a class="profile-nav" href="#/followers">Followers</a>
            </div>
            <div class="col-sm-4 profile-nav-section">
                <a class="profile-nav" href="#/following">Following</a>
            </div>
        </div>
    </div>

</div>
<div class="container-fluid ">
    <div class="row">


        <div class="col-sm-4 col-sm-offset-4">
            <div class="center-block ">
                <div class="form-header card elevation1">
                    <h2 class="site-color">Following</h2>
                    <hr>
                    <div class="container-fluid">
                        <div ng-repeat="username in model.follows track by $index">
                            <div class="row">
                                <div class="col-lg-8">
                                    <p><b>{{username}}</b></p>
                                </div>
                                <div class="col-lg-2">

                                    <a  ng-click = "model.deleteUsersIFollow(username)" role="button" class="btn btn-default btn-danger" aria-label="Add">
                                        <span class="glyphicon glyphicon-remove favourites" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
