
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#" class="navbar-brand">Websites</a>
			<a class="navbar-text pull-right" href="#/user/:uid/website/new">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</nav>

	<ul class="list-group">
		<li ng-repeat="website in model.websites" class="list-group-item">
			<a ng-click="model.goToWebsite(website)">{{website.name}}</a>
			<a class="pull-right" href="#/user/:uid/website/:wid">
				<span class="glyphicon glyphicon-cog"></span>
			</a>
		</li>
	</ul>

	<nav class="nav navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/:uid">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>


</div>