
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#/user/:uid" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#" class="navbar-brand">Websites</a>
			<a class="navbar-text pull-right" href="#/user/:uid/website/new">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</nav>

	<div ng-repeat="website in model.websites">
		{{website.name}}
	</div>

	<nav class="nav navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/:uid">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>


</div>