
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<div class="hidden-xs">
				<div class="col-sm-4 left-full">
					<a href="#/user/{{model.uid}}" class="navbar-text">
						<span class="glyphicon glyphicon-chevron-left"></span>
					</a>
					<a href="#/user/{{model.uid}}/website" class="navbar-brand">Websites</a>
					<a class="navbar-text pull-right" href="#/user/{{model.uid}}/website/new">
						<span class="glyphicon glyphicon-plus"></span>
					</a>
				</div>
				<div class="col-sm-8 no-padding-right">
					<a href="#/user/{{model.uid}}/website/new" class="navbar-brand">New Website</a>

					<a ng-click="model.createNewWebsite(model.website.name,model.website.description)" class="navbar-text pull-right" href="#/user/{{model.uid}}/website">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
				</div>
			</div>

			<div class="visible-xs"> <!-- Visible only on extra small screens-->
				<a href="#/user/{{model.uid}}/website" class="navbar-text pull-left">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a href="#/user/{{model.uid}}/website/new" class="navbar-brand">New Website</a>
				<a ng-click="model.createNewWebsite(model.website.name,model.website.description)" role="button" class="navbar-text pull-right">
					<span class="glyphicon glyphicon-ok"></span>
				</a>
			</div>


		</div>
	</nav>



	<div class="hidden-xs">
		<vr></vr>
		<div class="col-sm-4 left-full">
			<ul class="list-group">
				<li ng-repeat="website in model.websites" class="list-group-item">
					<a href="#/user/{{model.uid}}/website/{{website._id}}/page">{{website.name}}</a>
					<a class="pull-right" href="#/user/{{model.uid}}/website/{{website._id}}">
						<span class="glyphicon glyphicon-cog"></span>
					</a>
				</li>
			</ul>
		</div>

		<div class="col-sm-8">
			<form>
				<div class="form-group">
					<label for="name">Name</label>
					<input id="name" type="text" class="form-control" ng-model="model.website.name" placeholder="Name"/>
				</div>

				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" class="form-control" ng-model="model.website.description" placeholder="Description"></textarea>
				</div>
			</form>
		</div>
	</div>

	<div class="visible-xs">
		<form>
		<div class="form-group">
			<label for="name1">Name</label>
			<input id="name1" type="text" class="form-control" ng-model="model.website.name" placeholder="Name"/>
		</div>

		<div class="form-group">
			<label for="description1">Description</label>
			<textarea id="description1" class="form-control" ng-model="model.website.description" placeholder="Description"></textarea>
		</div>
		</form>
	</div>



	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>