<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#/user/:uid/website/:wid/page" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#" class="navbar-brand">Edit Page</a>
			<a class="navbar-text pull-right" href="#/user/:uid/website/:wid/page">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</nav>

	<form>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" placeholder="Blog Post"/>
		</div>

		<div class="form-group">
			<label for="title">Title</label>
			<input id="title" type="text" class="form-control" placeholder="Page Title"/>
		</div>

		<div class="form-group">
			<a href="#/user/:uid/website/:wid/page" role="button" class="btn btn-danger form-control">Delete</a>
		</div>


	</form>


	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/:uid">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>
