<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,intial-scale=1">
	<title>Edit Page</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="page-list.html" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#" class="navbar-brand">Edit Page</a>
			<a class="navbar-text pull-right" href="page-list.html">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</nav>

	<form>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" placeholder="Blog Post"/>
		</div>

		<div class="form-group">
			<label for="title">Title</label>
			<input id="title" type="text" class="form-control" placeholder="Page Title"/>
		</div>

		<div class="form-group">
			<a href="page-list.html" role="button" class="btn btn-danger form-control">Delete</a>
		</div>


	</form>


	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="../user/profile.html">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>
</body>
</html>