
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#/user/{{model.uid}}/website" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#" class="navbar-brand">Pages</a>
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}/website/{{model.wid}}/page/new">
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</nav>

	<div ng-repeat="page in model.pages">

		{{page.name}}

	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>
