<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#" class="navbar-brand">Edit Page</a>
			<a  ng-click="model.savePage(model.page.name,model.page.description)" role="button" class="navbar-text pull-right" >
				<span class="glyphicon glyphicon-ok"></span>
			</a>
		</div>
	</nav>

	<form>
		<div class="form-group">
			<label for="name">Name</label>
			<input id="name" type="text" class="form-control" ngmodel="model.page.name" placeholder="Blog Post"/>
		</div>

		<div class="form-group">
			<label for="title">Title</label>
			<input id="title" type="text" class="form-control" ngmodel="model.page.description" placeholder="Page Title"/>
		</div>

		<div class="form-group">
			<a ng-click="model.deletePage()" role="button" class="btn btn-danger form-control">Delete</a>
		</div>


	</form>


	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>
