
	<div class="container">
		<div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

		<h1>Register</h1>
		<form>

			<input type="text" class="form-control" ng-model="model.user.username" placeholder="username"/>
			<input type="password" class="form-control" ng-model="model.user.password" placeholder="password"/>
			<input type="password" class="form-control" ng-model="model.user.verifypassword" placeholder="verify password"/>
			<a ng-click="model.register(model.user.username,model.user.password,model.user.verifypassword)" role="button" class="btn btn-primary form-control">Register</a>
			<a href="#/login" role="button" class="btn btn-danger form-control">Cancel</a>

		</form>
	</div>