
<div class="container">

	<nav class="navbar navbar-default navbar-fixed-top">
		<div class=" container-fluid">
			<a href="#/user/{{model.uid}}/website/{{model.wid}}/page" class="navbar-text pull-left">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-brand">Widgets</a>
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
		</div>
	</nav>


		<div class="container-fluid" ng-switch="widget.widgetType" ng-repeat="widget in model.widgets">
				<div ng-switch="widget.size" ng-switch-when="HEADER">
					<h1 ng-switch-when="1">{{widget.text}}</h1>
					<h2 ng-switch-when="2">{{widget.text}}</h2>
					<h3 ng-switch-when="3">{{widget.text}}</h3>
					<h4 ng-switch-when="4">{{widget.text}}</h4>
					<h5 ng-switch-when="5">{{widget.text}}</h5>
					<h6 ng-switch-when="6">{{widget.text}}</h6>
					<a class="navbar-text pull-right" href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/{{widget._id}}">
						<span class="glyphicon glyphicon-cog"></span>
					</a>

				</div>
			<div ng-switch-when="IMAGE">
				image
			</div>

			<div ng-switch-when="YOUTUBE">
				<iframe width="{{widget.width}}" height="315" ng-src="{{model.checkSafeYouTubeURL(widget.url)}}" frameborder="0" allowfullscreen></iframe>
			</div>
			<div ng-switch-when="HTML" ng-bind-html="model.checkSafeHTML(widget.text)"></div>
		</div>


	<nav class="navbar navbar-default navbar-fixed-bottom">
		<div class="container-fluid">
			<a class="navbar-text pull-right" href="#/user/{{model.uid}}">
				<span class="glyphicon glyphicon-user"></span>
			</a>
		</div>
	</nav>

</div>